.ia-text {
    margin-top: 5px;
    line-height: 1.6;
}

.ia-text h2, .ia-text h3 {
    margin-top: 12px;
    margin-bottom: 6px;
    color: #ffffff;
}

.ia-text li {
    margin-left: 15px;
    margin-bottom: 4px;
}
